.venv/
__pycache__/
node_modules/
dist/
*.log
.env
.vscode/
.idea/
_pycache_/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.hg
.svn
CVS
.bzr
.DS_Store
Thumbs.db
ehthumbs.db
npm-debug.log
yarn-error.log
test/
tests/
spec/
specs/
